.main-section{
    background-image: url(images/heroSectionBackground.png);
    background-repeat: no-repeat;
     background-size:cover;
     height: 420px;
}

.main-section .header a{
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-left: 40px;
    margin: 10px
} 
.main-section .header{
    display: flex;
    justify-content: space-between;
}
 .header .navigation a{
     padding-top: 50px;
    text-align:center ;
}
.header .col-sm-6{
    display: flex;
    justify-content: space-between;
}
